.main-header {
    background-color: @color-bg-red-dark;
    color: white;
    padding: 10px 0;
}

.main-header-headings {
    display: inline-block;
    font-family: @main-font;
    font-size: 350%;
    text-transform: uppercase;

    .site-name {
        color: @color-text-light;
        display: inline-block;
        font-weight: 900;
    }

    .page-name {
        color: @color-text-dark;
        font-weight: lighter;
        display: inline-block;
    }
}

.main-navigation {
    list-style-type: none;
}
